.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
    font-family: "Proxima Nova";
}

.reveal h1 {
    font-size: 2.50em;
}

.reveal h2 {
    font-size: 1.50em;
}

.reveal {
    font-size: 35px;
}

code {
    font-size: 70%;
    background-color: #001b26;
    padding: 4px 10px;
}

.reveal pre {
    font-size: 70%;
    background-color: #001b26;
    padding: 4px 10px;
    margin: 10px;
}

.section-number-2,
.section-number-3,
.section-number-4,
.section-number-5 {
    display: none;
}

.keyboard-usage p {
    color: #999999;
    font-size: 25px;
}
